/* 语法demo */
// .content {
//   font-size 30px
// }
// #vuepress-plugin-comment
//   max-width $contentWidth
//   margin 0 auto
//   padding 2rem 2.5rem
//   @media (max-width: $MQNarrow)
//     padding 2rem
//   @media (max-width: $MQMobileNarrow)
//     padding 1.5rem

// #main-title
//   display none !important 

// .hero
//   .description 
//     display none !important

.theme-container.custom-page-class .features
  margin-top 2rem

// markdown文件通过pageClass: custom-page-class挂载类名 此处来定义样式
.theme-container.custom-page-class {
  /* 特定页面的 CSS */
  // background-color pink;
}